* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
div[class^="container-"] {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.container-320 {
  max-width: 320px;
}
.container-375 {
  max-width: 375px;
}
.container-320 {
  max-width: 320px;
}
.container-425 {
  max-width: 425px;
}
.container-768 {
  max-width: 768px;
}
.container-1024 {
  max-width: 1024px;
}
.container-1440 {
  max-width: 1440px;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
div[class^="col-"] {
  display: -ms-flexbox;
  display: flex;
}
.col-x {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}
.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
.is-black {
  background-color: #000000;
}
.is-dark {
  background-color: #333333;
}
.is-gray {
  background-color: #6A6A6A;
}
.is-white {
  background-color: #FFFFFF;
}
.is-light {
  background-color: #eeeeee;
}
.is-transparent {
  background-color: transparent;
}
.is-danger {
  background-color: #e00000;
}
.is-danger-1 {
  background-color: #840000;
}
.is-danger-2 {
  background-color: #280000;
}
.is-danger-3 {
  background-color: #ff3d3d;
}
.is-danger-4 {
  background-color: #ff9999;
}
.is-warning {
  background-color: #e0a800;
}
.is-warning-1 {
  background-color: #846300;
}
.is-warning-2 {
  background-color: #281e00;
}
.is-warning-3 {
  background-color: #ffce3d;
}
.is-warning-4 {
  background-color: #ffe599;
}
.is-info {
  background-color: #00a8e0;
}
.is-info-1 {
  background-color: #006384;
}
.is-info-2 {
  background-color: #001e28;
}
.is-info-3 {
  background-color: #3dceff;
}
.is-info-4 {
  background-color: #99e5ff;
}
.is-ok {
  background-color: #38e000;
}
.is-ok-1 {
  background-color: #218400;
}
.is-ok-2 {
  background-color: #0a2800;
}
.is-ok-3 {
  background-color: #6dff3d;
}
.is-ok-4 {
  background-color: #b2ff99;
}
.has-text-dark {
  color: #333333;
}
.has-text-black {
  color: #000000;
}
.has-text-gray {
  color: #6A6A6A;
}
.has-text-light {
  color: #eeeeee;
}
.has-text-white {
  color: #FFFFFF;
}
.has-text-danger {
  color: #e00000;
}
.has-text-warning {
  color: #e0a800;
}
.has-text-info {
  color: #00a8e0;
}
.has-text-ok {
  color: #38e000;
}
.has-border-transparent {
  border-color: transparent;
}
.has-border-black {
  border-color: #000000;
}
.has-border-dark {
  border-color: #333333;
}
.has-border-gray {
  border-color: #6A6A6A;
}
.has-border-white {
  border-color: #FFFFFF;
}
.has-border-light {
  border-color: #eeeeee;
}
.has-border-danger {
  border-color: #e00000;
}
.has-border-danger-1 {
  border-color: #840000;
}
.has-border-danger-2 {
  border-color: #280000;
}
.has-border-danger-3 {
  border-color: #ff3d3d;
}
.has-border-danger-4 {
  border-color: #ff9999;
}
.has-border-warning {
  border-color: #e0a800;
}
.has-border-warning-1 {
  border-color: #846300;
}
.has-border-warning-2 {
  border-color: #281e00;
}
.has-border-warning-3 {
  border-color: #ffce3d;
}
.has-border-warning-4 {
  border-color: #ffe599;
}
.has-border-info {
  border-color: #00a8e0;
}
.has-border-info-1 {
  border-color: #006384;
}
.has-border-info-2 {
  border-color: #001e28;
}
.has-border-info-3 {
  border-color: #3dceff;
}
.has-border-info-4 {
  border-color: #99e5ff;
}
.has-border-ok {
  border-color: #38e000;
}
.has-border-ok-1 {
  border-color: #218400;
}
.has-border-ok-2 {
  border-color: #0a2800;
}
.has-border-ok-3 {
  border-color: #6dff3d;
}
.has-border-ok-4 {
  border-color: #b2ff99;
}
.has-text-left {
  text-align: left;
}
.has-text-center {
  text-align: center;
}
.has-text-right {
  text-align: right;
}
.has-text-xxs {
  font-size: 0.1em;
}
.has-text-xs {
  font-size: 0.25em;
}
.has-text-s {
  font-size: 0.5em;
}
.has-text-m {
  font-size: 0.75em;
}
.has-text-n {
  font-size: 1em;
}
.has-text-l {
  font-size: 1.5em;
}
.has-text-xl {
  font-size: 1.75em;
}
.has-text-xxl {
  font-size: 2em;
}
.has-text-jumbo {
  font-size: 4em;
}
.h-100 {
  height: 100%;
}
.h-50 {
  height: 50%;
}
.is-full-width {
  width: 100%;
}
.is-clipped {
  overflow: hidden;
}
.is-aligned-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.is-aligned-right {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.is-aligned-left {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.is-at-right {
  margin-left: auto;
}
.is-at-left {
  margin-right: auto;
}
.has-space-center {
  -ms-flex-pack: center;
      justify-content: center;
}
.has-space-between {
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.has-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.has-space-start {
  -ms-flex-pack: start;
      justify-content: flex-start;
}
.has-space-end {
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.p-xxs {
  padding: 0.1em;
}
.p-xs {
  padding: 0.25em;
}
.p-s {
  padding: 0.5em;
}
.p-m {
  padding: 0.75em;
}
.p-n {
  padding: 1em;
}
.p-l {
  padding: 1.5em;
}
.p-xl {
  padding: 1.75em;
}
.p-xxl {
  padding: 2em;
}
.p-5 {
  padding: 5%;
}
.p-10 {
  padding: 10%;
}
.p-25 {
  padding: 25%;
}
.p-50 {
  padding: 50%;
}
div[class*="has-border"] {
  border-style: solid;
}
.has-border-xxs {
  border-width: 0.1em;
}
.has-border-xs {
  border-width: 0.25em;
}
.has-border-s {
  border-width: 0.5em;
}
.has-border-m {
  border-width: 0.75em;
}
.has-border-n {
  border-width: 1em;
}
.has-border-l {
  border-width: 1.5em;
}
.has-border-x {
  border-width: 1.75em;
}
.has-border-xl {
  border-width: 1.75em;
}
.has-border-xxl {
  border-width: 2em;
}
.is-mobile {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}
.is-row {
  -ms-flex-direction: row;
      flex-direction: row;
}
.is-row-reverse {
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}
.is-column {
  -ms-flex-direction: column;
      flex-direction: column;
}
.is-column-reverse {
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
}
@media all and (max-width: 768px) {
  .is-mobile {
    min-width: 100%;
  }
}
.is-flex {
  display: -ms-flexbox;
  display: flex;
}
.is-table {
  display: table;
}
.is-block {
  display: block;
}
.is-inline {
  display: inline;
}
.is-grid {
  display: -ms-grid;
  display: grid;
}
.is-inline-block {
  display: inline-block;
}
.is-inline-flex {
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.is-inline-table {
  display: inline-table;
}
.is-list-item {
  display: list-item;
}
.is-hidden-mobile {
  display: initial;
}
.is-hidden-desktop {
  display: none;
}
@media screen and (max-width: 768px) {
  .is-hidden-mobile {
    display: none;
  }
  .is-hidden-desktop {
    display: initial;
  }
}
.tags {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 16px;
}
.tag {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  border-width: 0.25em;
  padding: 0.5em;
  font-size: 0.75em;
  text-align: center;
  margin: 0 0 4px 0;
  border-bottom-width: 0px;
  min-width: 100px;
  border-top-width: 0px;
  border-left-width: 0px;
}
@media screen and (max-width: 768px) {
  .tags {
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-direction: row;
        flex-direction: row;
    height: 32px;
  }
  .tag {
    border-radius: unset;
    border-width: 0px;
    border-bottom-width: initial;
    font-size: 0.75em;
    transition: none;
    height: 32px;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .tags {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.card {
  box-shadow: 0 0 2px #333333;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.card-header {
  text-align: center;
  background: #eeeeee;
  color: #333333;
}
.card-header img {
  width: 100%;
}
.card-body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  color: #333333;
  background: #eeeeee;
}
.navigation {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
}
.navigation a {
  display: -ms-flexbox;
  display: flex;
  min-width: 128px;
  min-height: 32px;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin: 0 1em 0 0;
  text-align: center;
  border: none;
  outline: none;
  text-decoration: none;
  color: #00a8e0;
  font-weight: bold;
}
.navigation a:active {
  color: #99e5ff;
}
.navigation a:hover {
  background: #006384;
}
.navigation .menu-icon {
  min-height: 32px;
}
.navigation .menu-icon .menu-icon-bar {
  width: 32px;
  height: 4px;
  margin: 6px 0;
}
@media screen and (max-width: 425px) {
  .navigation {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .navigation a {
    width: 100%;
    padding: 1px;
    margin: 0 0 0.25em 0;
    min-width: 100%;
    min-height: 32px;
    transition: all 1s;
    box-shadow: 0 0 0 1px transparent;
  }
}
.button {
  min-width: 80px;
  min-height: 32px;
  border: none;
}
