@import 'palette.less';
.is-black {
    background-color: @black;
}

.is-dark {
    background-color: @dark;
}

.is-gray {
    background-color: @gray;
}

.is-white {
    background-color: @white;
}

.is-light {
    background-color: @light;
}

.is-transparent {
    background-color: transparent;
}

.is-danger {
    background-color: @danger;
}

.is-danger-1 {
    background-color: @danger-1;
}

.is-danger-2 {
    background-color: @danger-2;
}

.is-danger-3 {
    background-color: @danger-3;
}

.is-danger-4 {
    background-color: @danger-4;
}

.is-warning {
    background-color: @warning;
}

.is-warning-1 {
    background-color: @warning-1;
}

.is-warning-2 {
    background-color: @warning-2;
}

.is-warning-3 {
    background-color: @warning-3;
}

.is-warning-4 {
    background-color: @warning-4;
}

.is-info {
    background-color: @info;
}

.is-info-1 {
    background-color: @info-1;
}

.is-info-2 {
    background-color: @info-2;
}

.is-info-3 {
    background-color: @info-3;
}

.is-info-4 {
    background-color: @info-4;
}

.is-ok {
    background-color: @ok;
}

.is-ok-1 {
    background-color: @ok-1;
}

.is-ok-2 {
    background-color: @ok-2;
}

.is-ok-3 {
    background-color: @ok-3;
}

.is-ok-4 {
    background-color: @ok-4;
}

.has-text-dark {
    color: @dark;
}

.has-text-black {
    color: @black;
}

.has-text-gray {
    color: @gray;
}

.has-text-light {
    color: @light;
}

.has-text-white {
    color: @white;
}

.has-text-danger {
    color: @danger;
}

.has-text-warning {
    color: @warning;
}

.has-text-info {
    color: @info;
}

.has-text-ok {
    color: @ok;
}

.has-border-transparent {
    border-color: transparent;
}

.has-border-black {
    border-color: @black;
}

.has-border-dark {
    border-color: @dark;
}

.has-border-gray {
    border-color: @gray;
}

.has-border-white {
    border-color: @white;
}

.has-border-light {
    border-color: @light;
}

.has-border-danger {
    border-color: @danger;
}

.has-border-danger-1 {
    border-color: @danger-1;
}

.has-border-danger-2 {
    border-color: @danger-2;
}

.has-border-danger-3 {
    border-color: @danger-3;
}

.has-border-danger-4 {
    border-color: @danger-4;
}

.has-border-warning {
    border-color: @warning;
}

.has-border-warning-1 {
    border-color: @warning-1;
}

.has-border-warning-2 {
    border-color: @warning-2;
}

.has-border-warning-3 {
    border-color: @warning-3;
}

.has-border-warning-4 {
    border-color: @warning-4;
}

.has-border-info {
    border-color: @info;
}

.has-border-info-1 {
    border-color: @info-1;
}

.has-border-info-2 {
    border-color: @info-2;
}

.has-border-info-3 {
    border-color: @info-3;
}

.has-border-info-4 {
    border-color: @info-4;
}

.has-border-ok {
    border-color: @ok;
}

.has-border-ok-1 {
    border-color: @ok-1;
}

.has-border-ok-2 {
    border-color: @ok-2;
}

.has-border-ok-3 {
    border-color: @ok-3;
}

.has-border-ok-4 {
    border-color: @ok-4;
}