.is-flex {
    display: flex;
}

.is-table {
    display: table;
}

.is-block {
    display: block;
}

.is-inline {
    display: inline;
}

.is-grid {
    display: grid;
}

.is-inline-block {
    display: inline-block;
}

.is-inline-flex {
    display: inline-flex;
}

.is-inline-table {
    display: inline-table;
}

.is-list-item {
    display: list-item;
}

.is-hidden-mobile {
    display: initial;
}

.is-hidden-desktop {
    display: none;
}

@media screen and (max-width: 768px) {
    .is-hidden-mobile {
        display: none;
    }

    .is-hidden-desktop {
        display: initial;
    }
}