.is-mobile {
    flex-basis: auto;
}

.is-row {
    flex-direction: row;
    &-reverse {
        flex-direction: row-reverse;
    }
}

.is-column {
    flex-direction: column;
    &-reverse {
        flex-direction: column-reverse;
    }
}

@media all and (max-width: 768px) {
    .is-mobile {
        min-width: 100%;
    }
}