@import '../cfg.less';
.h-100 {
    height: 100%;
}

.h-50 {
    height: 50%;
}

.is-full-width {
    width: 100%;
}

.is-clipped {
    overflow: hidden;
}

.is-aligned-center {
    align-self: center;
}

.is-aligned-right {
    align-self: flex-end;
}

.is-aligned-left {
    align-self: flex-end;
}

.is-at-right {
    margin-left: auto;
}

.is-at-left {
    margin-right: auto;
}

.has-space-center {
    justify-content: center;
}

.has-space-between {
    justify-content: space-between;
}

.has-space-around {
    justify-content: space-around;
}

.has-space-start {
    justify-content: flex-start;
}

.has-space-end {
    justify-content: flex-end;
}

.p-xxs {
    padding: @size-xxs;
}

.p-xs {
    padding: @size-xs;
}

.p-s {
    padding: @size-s;
}

.p-m {
    padding: @size-m;
}

.p-n {
    padding: @size-n;
}

.p-l {
    padding: @size-l;
}

.p-xl {
    padding: @size-xl;
}

.p-xxl {
    padding: @size-xxl;
}

.p-5 {
    padding: 5%;
}

.p-10 {
    padding: 10%;
}

.p-25 {
    padding: 25%;
}

.p-50 {
    padding: 50%;
}

div[class*="has-border"] {
    border-style: @border-style;
}

.has-border-xxs {
    border-width: @size-xxs;
}

.has-border-xs {
    border-width: @size-xs;
}

.has-border-s {
    border-width: @size-s;
}

.has-border-m {
    border-width: @size-m;
}

.has-border-n {
    border-width: @size-n;
}

.has-border-l {
    border-width: @size-l;
}

.has-border-x {
    border-width: @size-xl;
}

.has-border-xl {
    border-width: @size-xl;
}

.has-border-xxl {
    border-width: @size-xxl;
}