@import '../cfg.less';
.has-text-left {
    text-align: left;
}

.has-text-center {
    text-align: center;
}

.has-text-right {
    text-align: right;
}

.has-text-xxs {
    font-size: @size-xxs;
}

.has-text-xs {
    font-size: @size-xs;
}

.has-text-s {
    font-size: @size-s;
}

.has-text-m {
    font-size: @size-m;
}

.has-text-n {
    font-size: @size-n;
}

.has-text-l {
    font-size: @size-l;
}

.has-text-xl {
    font-size: @size-xl;
}

.has-text-xxl {
    font-size: @size-xxl;
}

.has-text-jumbo {
    font-size: 2 * @size-xxl;
}