@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed');
body {
    font-family: 'Encode Sans Condensed', sans-serif;
    background:#eee;
}
body::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 2em;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 2px;
    margin: 35vh 0 0 0;
}

.banner h1 {
    color: #333;
    width: 100vw;
    text-align: center;
    text-shadow: -2px 2px 2px #000;
    font-size: 10em;
}

.banner p {
    background: #333;
    width: 50vw;
    text-align: center;
    font-size: 2em;
    text-shadow: -2px 2px 2px #000;
    padding: 8px 0;
}

@media screen and (max-width: 425px) {
    .banner h1 {
        font-size: 5em;
    }
    .banner p {
        font-size: 1em;
    }
}

.code {
    height: 50vh;
    overflow: scroll;
    background: #fff;
    color: #333;
    width: 100%;
    margin: 0 auto 2em auto;
    text-align: left;
    max-width: 768px;
    box-shadow: 0 0 4px #000 inset;
}

.code::-webkit-scrollbar {
    display: none;
}

.code:hover {
    box-shadow: 0 0 16px #000 inset;
}

.article {
    padding: 4%;
    margin: 4px 0;
    background: #333;
    color: #eee;
    max-width: 768px;
}

.box {
    text-align: center;
    padding: 10px;
    transition: width 1s;
    border-radius: 2px;
    outline: 1px solid #eee;
    min-height: 32px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 128px;
    padding: 32px 0;
    color: #eee;
    background: #333;
    text-align: center;
    font-size: 1.25em;
    max-width: 768px;
    align-self: center;
}

li {
    text-align: left;
    margin: 4px;
    border-bottom: 1px solid #000;
    padding: 8px;
}