@import 'palette.less';
.card {
    box-shadow: 0 0 2px @dark;
    display: flex;
    flex-direction: column;
}

.card-header {
    text-align: center;
    background: @light;
    color: @dark;
    img {
        width: 100%;
    }
}

.card-body {
    display: flex;
    flex: 1 0 auto;
    color: @dark;
    background: @light;
}