@import 'palette.less';
@import 'cfg.less';
.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    a {
        display: flex;
        min-width: 128px;
        min-height: 32px;
        justify-content: center;
        align-items: center;
        margin: 0 @size-n 0 0;
        text-align: center;
        border: none;
        outline: none;
        text-decoration: none;
        color: @info;
        font-weight: bold;

        &:active {
            color: @info-4;
        }

        &:hover {
            background: @info-1;
        }
    }
    .menu-icon {
        min-height: 32px;
        
        .menu-icon-bar {
            width: 32px;
            height: 4px;
            margin: 6px 0;
        }
    }
}

@media screen and (max-width: 425px) {
    .navigation {
        flex-direction: column;

        a {
            width: 100%;
            padding: 1px;
            margin: 0 0 @size-xs 0;
            min-width: 100%;
            min-height: 32px;
            transition: all 1s;
            box-shadow: 0 0 0 1px transparent;
        }

    }
}