@import '../cfg.less';
.tags {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 16px;
}

.tag {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-width: @size-xs;
    padding: @size-s;
    font-size: @size-m;
    text-align: center;
    margin: 0 0 4px 0;
    border-bottom-width: 0px;
    min-width: 100px;
    border-top-width: 0px;
    border-left-width: 0px;
}

@media screen and (max-width: 768px) {
    .tags {
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: row;
        height: 32px;
    }
    .tag {
        border-radius: unset;
        border-width: 0px;
        border-bottom-width: initial;
        font-size: @size-m;
        transition: none;
        height: 32px;
        width: 100%
    }
}

@media screen and (min-width: 1024px) {
    .tags {
        flex-wrap: wrap;
    }
}