div[class^="container-"] {
    display: flex;
    width: 100%;
}

.container-320 {
    max-width: 320px;
}

.container-375 {
    max-width: 375px;
}

.container-320 {
    max-width: 320px;
}

.container-425 {
    max-width: 425px;
}

.container-768 {
    max-width: 768px;
}

.container-1024 {
    max-width: 1024px;
}

.container-1440 {
    max-width: 1440px;
}