.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div[class^="col-"] {
  display: flex;
}

.col-x {
  flex-basis: auto;
}

.generate_columns(@n, @i: 1) when (@i =< @n) {
  .col-@{i} {
    width: (@i * 100% / @n);
  }
  .generate_columns(@n, (@i + 1));
}

.generate_columns(12);