@white: #FFFFFF;
@light: #eeeeee;
@gray: #6A6A6A;
@dark: #333333;
@black: #000000;
@danger: #e00000;
@danger-1: darken(@danger, 18%);
@danger-2: darken(@danger-1, 18%);
@danger-3: lighten(@danger, 18%);
@danger-4: lighten(@danger-3, 18%);
@warning: spin(@danger, 45%);
@warning-1: darken(@warning, 18%);
@warning-2: darken(@warning-1, 18%);
@warning-3: lighten(@warning, 18%);
@warning-4: lighten(@warning-3, 18%);
@ok: spin(@warning, 60%);
@ok-1: darken(@ok, 18%);
@ok-2: darken(@ok-1, 18%);
@ok-3: lighten(@ok, 18%);
@ok-4: lighten(@ok-3, 18%);
@info: spin(@ok, 90%);
@info-1: darken(@info, 18%);
@info-2: darken(@info-1, 18%);
@info-3: lighten(@info, 18%);
@info-4: lighten(@info-3, 18%);
@palette: white,
light,
gray,
dark,
black,
danger,
danger-1,
danger-2,
danger-3,
danger-4,
warning,
warning-1,
warning-2,
warning-3,
warning-4,
info,
info-1,
info-2,
info-3,
info-4,
ok,
ok-1,
ok-2,
ok-3,
ok-4;